.container_span {
  /* max-width: 42rem; */
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_flow {
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  /* max-width: 42rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.2rem;
}

.back_footer {
  max-width: 42rem;
  min-width: 22rem;
  align-self: center;
}
.backToHome {
  margin: 3rem 0 0;
}


.flex_span {
  display: flex;
  flex-direction: row;
}
.flex_flow {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.main {
  flex: 4 1;
  /* max-width: 42rem; */
  /* min-width: 20rem; */
  /* width: 42rem; */
  padding: 1.2rem 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(157, 165, 171) 0px 4px 2.4rem -0.4rem;
  margin-bottom: 3.2rem;
  margin-top: 1.2rem;
  padding-bottom: 1rem;
}
.side {
  flex: 1 1;
  /* max-width: 20rem; */
  /* min-width: 18rem; */
  padding: 1.2rem 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(157, 165, 171) 0px 4px 2.4rem -0.4rem;
  margin-bottom: 3.2rem;
  margin-top: 1.2rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  padding-bottom: 4rem;
}
