html,
body {
  padding: 0;
  margin: 0;
  /* font-family:'Helvetica', 'Helvetica Neue', 'Arial', sans-serif; */
  font-family: -apple-system, Helvetica Neue, Helvetica, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.22px;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  /* font-size: 18px; */
  font-size: 1rem;
  scroll-behavior: smooth;
}

h1{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
h2{
  font-size: 2rem;
  line-height: 1.26;
  font-weight: 500;
  letter-spacing: -0.04rem;
  margin: 1rem 0;
}
h3{
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}
h4{
  font-size: 1.2rem;
  line-height: 1.5;
}
h5{font-size: 1.1rem; letter-spacing: 0; line-height: 1.2}
h6{font-size: 1rem; letter-spacing: 0; line-height: 1.1}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p code {
  /* border: 1px #ddd solid; */
  padding: 1px 6px 2.6px 6px;
  border-radius: 4px;
  background-color: #2f2f2f;
  color: white;
  font-size: 14px;
  font-weight: 200;
}
pre>code {
  padding: 12px !important;
  border: 1px #eee solid;
  border-radius: 4px;
  font-size: 0.8rem;
}
.katex-display {
  overflow: scroll;
}
